# Source files
src/**/*
tests/**/*
node_modules

# GitHub workflows
.github/**/*

# Development
.gitignore
.prettierignore
.prettierrc
eslint.config.js
tsconfig.json
package-lock.json
.npmignore
coverage

# Misc
.DS_Store
assets/**/*
